.sort {
  margin-top: 2rem;
  &__container {
    position: relative;
    width: 80%;
    padding: 0 10px 0 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: var(--white-main);
    height: 70vh;
    min-height: 380px;
    margin: 1.5rem auto;
    border-radius: var(--radius);
    background-size: 100%;
  }
  &__element {
    width: 1%;
    background: var(--secondary);
    margin-right: 3px;
  }
  &__buttons {
    width: 60%;
    margin: 1rem auto 0 auto;
    @include align-center();
    justify-content: space-evenly;
    display: none;
  }
  &__button {
    border-radius: var(--radius);
    padding: 5px 15px;
    border: 1px solid var(--white-main);
    background: none;
    transition: var(--transition);
    color: var(--white-main);
  }
  &__button:hover {
    color: var(--black-main);
    background: var(--white-main);
  }
  &__spinner {
    position: absolute;
    top: 20px;
    right: 5px;
    @include align-center();

    div {
      border: 2px solid var(--green); /* Light grey */
      border-top: 2px solid var(--primary); /* Blue */
      border-radius: 50%;
      width: 16px;
      height: 16px;
      animation: spin 2s linear infinite;
    }
    p {
      margin-left: 4px;
      color: var(--secondary);
      font-size: 0.625rem;
    }
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
