.sorterUI {
  width: 80%;
  margin: 1rem auto;
  position: relative;
  height: 90px;
  &__menu {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-evenly;

    @include responsive-sm() {
      justify-content: space-evenly;
      flex-direction: row;
    }
  }
  &__dropdown {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 140px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    p {
      color: var(--white-main);
      text-transform: capitalize;
    }
  }
  &__error-message {
    position: absolute;
    border-radius: var(--radius);
    background: var(--white-main);
    padding: 0px 10px;
    top: 30px;
    p {
      color: var(--red);
      font-size: 0.75rem;
    }
  }
  &__notifications {
    position: absolute;
    bottom: -20px;
    left: 5px;
    z-index: 1;
    @include responsive-sm() {
      bottom: 20px;
    }
    li {
      margin-bottom: 0.25rem;
      color: var(--primary-2);
      font-size: 0.5rem;
      @include responsive-sm() {
        font-size: 0.75rem;
      }
      span {
        padding-left: 10px;
        font-size: 0.4rem;
        text-transform: capitalize;
        color: var(--green);
        @include responsive-sm() {
          font-size: 0.65rem;
        }
      }
      svg {
        margin-left: 7px;
        padding-top: 2px;
      }
    }
  }
  &__error {
    color: var(--red);
  }
  &__success {
    color: #80b918;
  }
  &__toggle {
    border: none;
    outline: none;
    background: transparent;
    color: var(--primary);
    padding-top: 3px;
    z-index: 4;
  }
  &__reset {
    position: absolute;
    bottom: -27px;
    right: 0;
    @include ui-button();
    @include responsive-sm() {
      bottom: -10px;
      font-size: 0.9rem;
    }
    &--inactive {
      color: var(--red);
      background: #474a4d;
    }
  }
  &__reset:hover {
    background: var(--white-main);
    color: var(--primary);
  }
  &__start {
    position: absolute;
    bottom: -27px;
    left: 0;
    @include ui-button();
    @include responsive-sm() {
      left: 45%;
      bottom: -10px;
      font-size: 0.9rem;
    }
    &--inactive {
      color: var(--red);
      background: #474a4d;
    }
  }
  &__start:hover {
    background: var(--white-main);
    color: var(--primary);
  }
  &__options {
    position: absolute;
    transition: var(--transition);
    border-radius: var(--radius);
    padding: 5px 5px 5px 0;
    transform: translateY(-100%);
    top: 0;
    left: 0;
    z-index: 3;
    li {
      height: 15px;
    }
  }
  &__option {
    text-align: left;
    width: 100%;
    border: none;
    outline: none;
    font-size: 0.75rem;
    border-radius: var(--radius);
    background: transparent;
    margin-bottom: 0.25rem;
    text-transform: capitalize;
    color: var(--primary);
    z-index: 3;
    transition: var(--transition);
  }
  &__option:hover {
    background: var(--white-main);
    color: var(--black-main);
    transform: translateX(1px);
  }

  &__range {
    width: 150px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
    div {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
    input {
      -webkit-appearance: none; /* Override default CSS styles */
      appearance: none;
      width: 40%; /* Full-width */
      height: 5px; /* Specified height */
      background: var(--black-main); /* Grey background */
      border-radius: var(--radius);
      outline: none; /* Remove outline */
      opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
      -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
      transition: opacity 0.2s;
      @include responsive-sm() {
        width: 70%;
      }
    }
    input:hover {
      opacity: 1; /* Fully shown on mouse-over */
    }
    input::-webkit-slider-thumb {
      -webkit-appearance: none; /* Override default look */
      appearance: none;
      width: 10px; /* Set a specific slider handle width */
      height: 10px; /* Slider handle height */
      border-radius: 50%;
      background: var(--secondary); /* Green background */
      cursor: pointer; /* Cursor on hover */
    }
    input::-moz-range-thumb {
      width: 15px; /* Set a specific slider handle width */
      height: 15px; /* Slider handle height */
      background: var(--primary); /* Green background */
      cursor: pointer; /* Cursor on hover */
    }
  }

  &__label {
    position: absolute;
    transition: var(--transition);
    right: 10px;
    top: 10px;
    font-size: 0.75rem;
    width: 100px;
    color: var(--white-main);
    transform: rotate(-90deg);
    @include responsive-sm() {
      right: 90%;
      top: 10px;
    }
  }
}
